{% extends 'index.html' %}

{% block navbar %}
<nav id="navbar" class="navbar nav-menu">
    <ul>
        <li><a href="{{url_for('doctor_dashboard')}}" class="nav-link scrollto">
            <i class="bx bx-home"></i> <span>Dashboard</span></a></li>

        <li><a href="{{url_for('view_data')}}" class="nav-link scrollto active">
            <i class="bx bx-server"></i><span>View Data</span></a></li>

        
        <li><a href="{{url_for('algorithm_comparison')}}" class="nav-link scrollto">
            <i class="bx bx-bar-chart-alt-2"></i> <span>Compare Algorithms</span></a></li>

        <li><a href="{{url_for('logout')}}" class="nav-link scrollto">
            <i class="bx bx-log-out"></i> <span>Logout</span></a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<section id="testimonials" class="testimonials section-bg">
    <center>
        <div class="section-title">
            <h2>View Dataset</h2>
        </div>

        <div style="width:95%; background: white; padding:15px; border-radius:10px;">
            {{ data|safe }}
        </div>
    </center>
</section>
{% endblock %}
